<div class="hero"></div>

<div class="container">
  <h1>Who are we?</h1>

  <p>We ourselves are females in Tech who are passionate about making the Tech industry inclusive and attractive for females. We help address this global problem in two ways. Firstly, via our mini-class mentoring service. This is an interactive, learning environment to support women to develop their coding skills and leverage technology to make their ideas happen. Secondly, via our three pillar Co(de) Create Girls initiative ­ Learn, Inspire, Action ­ to help overcome gender-specific problems for females in the tech arena.</p>

  <h1>What do we do?</h1>

  <p>We have co­created an engaging and practical learning platform tailored for girls interested in coding and who wish to develop their coding skills by leveraging technology to make their ideas happen. We do so in a structured, supportive and pragmatic environment. We believe in collaboration, mentoring and co­creating tangible tech outputs.</p>

  <p>Co(de) Create feel strongly about challenging societal gender stereotypes in the tech industry. We concentrate on three areas to help overcome these barriers and shape the tech industry into an attractive arena for females. We do so by our Co(de) Create Girls three pillar initiative:</p>

  <ol>
    <li>Learn: a central repository of resources and multi­media content.</li>
    <li>Inspire: champion inspiring role­models. We promote and celebrate the abundance of inspiring female role­models within the tech industry.</li>
    <li>Action: establish and grow a female tech community by creating awareness of upcoming events, exhibitions and hackathons.</li>
  </ol>
</div>