<div class="hero"></div>

<div class="container">
  <h1>Who we are?</h1>

  <p>
    We ourselves are females in Tech who are passionate about making the Tech industry inclusive and attractive for females. We help address this global problem in two ways. Firstly, via our mini-class mentoring service. This is an interactive, learning environment to support women to develop their coding skills and leverage technology to make their ideas happen. Secondly, via our three pillar Co(de) Create Girls initiative ­ Learn, Inspire, Action ­ to help overcome gender-specific problems for females in the tech arena.
  </p>

  <h1>What we do?</h1>

  <p>We have co­created an engaging and practical learning platform tailored for girls interested in coding and who wish to develop their coding skills by leveraging technology to make their ideas happen. We do so in a structured, supportive and pragmatic environment. We believe in collaboration, mentoring and co­creating tangible tech outputs.</p>

  <p>Co(de) Create feel strongly about challenging societal gender stereotypes in the tech industry. We concentrate on three areas to help overcome these barriers and shape the tech industry into an attractive arena for females. We do so by our Co(de) Create Girls three pillar initiative:</p>

  <ol>
    <li>Learn: a central repository of resources and multi­media content.</li>
    <li>Inspire: champion inspiring role­models. We promote and celebrate the abundance of inspiring female role­models within the tech industry.</li>
    <li>Action: establish and grow a female tech community by creating awareness of upcoming events, exhibitions and hackathons.</li>
  </ol>


  <h1>How it works</h1>

  <p>Feel free to chat to anyone in the Make It! community using our dedicated web chat.</p>


  <h2>Mentee</h2>

  <p>Welcome mentee! Once you specify your project and communication style you will have access to relevant course material and matched with a mentor who will be there to help through the whole process (this may take a few days, but you'll get an email once you're hooked up).</p>

  <p>All code you produce shall be reviewed and discussed with your mentor ­ how often you communicate is up to you, but we recommend touching base at least once a week. You'll also be paired with another new mentee, for that little bit of extra support (or late night rants).</p>

  <p>We have created and customised pre­course material which will cover aspects such as downloading the required software and some bits and pieces to get you started. We use GitHub to share code between mentors and mentees (and the rest of the world!).</p>

  <p>Depending on your communication style (virtual or face­to­face), your mentor has agreed to be in touch at least once a week to work through any questions you may have and help make your project a reality.</p>

  <p>Our Action section of Co(de) Create Girls showcases great projects that women in tech are creating as well as hackathons and other cool events. We ask that you share your projects here to encourage other women to start coding too.</p>

  <p>We also have some links to other great learning resources from Code Academy, Code School and many others to help you out once you get hooked!</p>

  <h2>Mentor</h2>

  <p>Co(de) Create provides two website project options for students to build and code from scratch.</p>

  <ul>
    <li>Project 1 guides the user in building a blog ­ for example a lifestyle­, personal­ or travel blog.</li>
    <li>Project 2 guides the user in building an E­Commerce website ­ for example, a start­up initiative or social enterprise.</li>
  </ul>


  <p>Our students tend to have a basic knowledge of coding who want to develop their coding skills and create a fully functioning website to actualize their ideas. Be it to create a gap­year travel blog or build a website for a social enterprise idea. Mentors are needed to coach the students during the process and help the girls reach their goals in a supportive, fun and pragmatic environment.</p>

  <p>Code Create offers a 'mini­class' service ­ a mentor (you) and two mentees who will work on the same project, either Project 1 or Project 2. As a mentor you will be matched with two suitable students. The matching process is based on two variables ­ project preference (Project 1 or 2) and your preferred communication style; virtual (telephone/Skype) or in­person. You will be provided with the tutorials and exercise sheets that the students use to build their website and the code solutions.</p>

  Your role is to connect with your students each week to:
  <ol>
    <li>briefly go through the exercise,</li>
    <li>answer any questions, and</li>
    <li>review the students code.</li>
  </ol>

  <p>Don't worry you will also be provided with the code solutions! The project is designed to extend over four weeks. It is recommended to schedule a mini­class each week (about 1 hour) with you and your two students.</p>

  <p>Signing up to be a mentor is a fantastic opportunity to coach, share technical skills and help build girls’ confidence to code, create and attract women into the tech arena. You'll also get a free t-shirt and an opportunity to expand your female tech network!</p>
</div>