<div class="hero"></div>

<div class="projects container">
  <h2><%= @title %></h2>

  <img src="http://www.buytemplates.net/img/display_images/d-travel-blog-templates-trav365-01.jpg">
  <p>Seen a cool blog and wondered how it was made?</p>
  <p>Why not make one yourself from scratch!</p>
  <p>This project takes you on the journey of making a blog, putting your HTML, CSS, and JavaScript skills to use.</p>

  <h2>How it works</h2>

  <p>Feel free to chat to anyone in the Make It! community using our dedicated web chat.</p>


  Once you specify your project and communication style you will have access to relevant course material and matched with a mentor who will be there to help through the whole process (this may take a few days, but you'll get an email once you're hooked up).</p>

  <p>All code you produce shall be reviewed and discussed with your mentor 足 how often you communicate is up to you, but we recommend touching base at least once a week. You'll also be paired with another new mentee, for that little bit of extra support (or late night rants).</p>

  <p>We have created and customised pre足course material which will cover aspects such as downloading the required software and some bits and pieces to get you started. We use GitHub to share code between mentors and mentees (and the rest of the world!).</p>

  <p>Depending on your communication style (virtual or face足to足face), your mentor has agreed to be in touch at least once a week to work through any questions you may have and help make your project a reality.</p>

  <p>Our Action section of Co(de) Create Girls showcases great projects that women in tech are creating as well as hackathons and other cool events. We ask that you share your projects here to encourage other women to start coding too.</p>

  <p>We also have some links to other great learning resources from Code Academy, Code School and many others to help you out once you get hooked!</p>

  <br>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default" %>
</div>