      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 id="landing-h1">Co(de)Create</h1>
        <p>We are passionate about creating an interactive, learning environment to support women to develop their coding skills and leverage technology to make their ideas make their ideas.</p>
        <p>
          <%= link_to "Learn more", {controller: "static_pages", action: "about"}, class: "btn btn-primary btn-lg" %>
        </p>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6 project">
          <img class="img-circle" src="/assets/trav_img.jpg" style="width: 140px; height: 140px;">
          <h2>Project 1: Blog It</h2>
          <p>Seen a cool blog and wondered how it was made?</p>
          <p>Why not make one yourself from scratch!</p>
          <p>This project takes you on the journey of making a blog, putting your HTML, CSS, AND JavaScript skills to use.</p>
          <br>
          <p>
            <%= link_to "Learn more", {controller: "static_pages", action: "build_a_blog"}, class: "btn btn-default" %>
          </p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6 project">
          <img class="img-circle" src="/assets/ecomm_img.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Project 2: Ecommerce it</h2>
          <p>Ever wondered how to make your own transactional website?</p>
          <p>Perhaps you're thinking about setting up your own business?</p>
          <p>This project will help you build your own eCommerce site, complete with store front, basket, and checkout, all from scratch!</p>
          <br>
          <p>
            <%= link_to "Learn more", {controller: "static_pages", action: "build_ecommerce_site"}, class: "btn btn-default" %>
          </p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

    </div>
    <div class="feature-div" id="extra-feature">
      <div class="row featurette">
        <div class="container marketing">
          <h2 class="featurette-heading">Co(de) Create Girls.<span class="text-muted">Challenging tech industry</span></h2>
          <p class="lead">We concentrate on three areas to help overcome these barriers and shape the tech industry into an attractive arena for females. We do so by our Co(de) Create Girls three pillar initiative:</p>
        </div>
      </div>
    </div>


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/LEARN.gif" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/INSPIRE.gif" alt="Generic placeholder image" style="width: 140px; height: 140px;"></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/ACTION.gif" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">We need mentors!</h2>
          <br>
          <p class="lead">
            To give our students the best experience possible, passionate and dedicated mentors are key to our success!
          </p>
          <p class="lead">
            Mentors must have a coding background and be available at least once a week to review work with mentees.
          </p>
          <p class="lead">
            Each mentor is assigned two mentees - whether you chat, email or meet face to face is up to you!
          </p>
          <p class="lead">
            Sound good? Find out more <a href="#">here</a>.
          </p>
        </div>
        <div class="col-md-5">
          <section class="featured-image-1"></section>
          <!-- <img class="featurette-image featured-image-1" src="/assets/girls-in-tech.jpg" alt="Generic placeholder image"> -->
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->