// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding-top: 0;
}

* {
  box-sizing: border-box;
}

.jumbotron {
  padding-top: 0;

  .container {
    padding-top: 45px;
  }
}

.project {
  text-align: center;
}

.login-items {
  display: inline-block;
  float: right;
  height: 50px;
  line-height: 50px;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 8px;
  }
}

.sign-up {
  margin-top: 2em;

  header {
    margin-bottom: 1em;
  }
}

.featured-image-1 {
  width: 500px; 
  height: 500px; 
  background-image: url('../assets/girls-in-tech.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}