// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.navigation-container {
  background-color: #ddd;

  .main-navigation {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 0;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 8px;
    }

    .login-items {
      display: inline-block;
      float: right;

      li {
        margin-left: 8px;
        margin-right: 0;
      }
    }
  }
}

.about,
.project,
.sign-up {
  border: solid 1px #ddd;
}

.about {
  margin-top: 2em;
}

.project-container {
  margin-top: 2em;

  .project {
    float: left;
    width: 50%;
    min-height: 100px;
    position: relative;

    header {
      margin-bottom: 1em;
    }

    .learn-more {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      margin-top: 1em;
    }
  }

  &::after {
    clear: both;
    display: block;
    content: '';
  }
}

.sign-up {
  margin-top: 2em;

  header {
    margin-bottom: 1em;
  }
}